<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= config.root %>"><%= config.title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Known Issue, found by Hux:
            <nav>'s height woule be hold on by its content.
            so, when navbar scale out, the <nav> will cover tags.
            also mask any touch event of tags, unfortunately.
        -->
    <div id="huxblog_navbar">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" id="search" ><img style="width: 16px;height: 16px;margin: -2px 5px 0px 0;" src="<%- url_for('icons/search.svg') %> " alt="">搜索</a>
          </li>
          <li>
            <a href="<%= config.root %>">首页</a>
          </li>

          <% let navs =[]; site.pages.forEach(page => { navs.push(page); });
          navs = navs.sort(function(obj1,obj2){ var value1 = obj1['sort']; var
          value2 = obj2['sort']; return value1 - value2; } )%> <%
          navs.forEach(page => {%> <% if (page.title) {%>
          <li>
            <a
              href="<%= config.root %><%= page.path.replace('index.html', '') %>"
              ><%= page.title %></a
            >
          </li>
          <% } %> <%}); %>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="modal search-modal">
  <div class="search-container">
    <div class="search-container-top">
      <img src="<%- url_for('icons/close.svg') %>" alt="">
    </div>
    <input class="search-container-input" placeholder="输入关键字搜索" type="text">
    <div class="search-container-content"></div>
  </div>
</div>

<script>
  $('.search-container').css({ "height": window.innerHeight, "overflow": 'hidden' })
  $('.search-container-content').css({ "height": window.innerHeight - 70, "overflow": 'scroll' })
  var allArticles = [];
  var xReq = new XMLHttpRequest();
  xReq.open('GET', '/search.json');
  xReq.send();
  xReq.onreadystatechange = function(){
    // 若响应完成且请求成功
    if(xReq.readyState === 4 && xReq.status === 200){
      allArticles = JSON.parse(xReq.responseText);
    }
  }

  $('#search').on('click', function() {
    $('.search-modal').addClass('modal-show');
  });
  
  $('.search-modal,.search-container-top img').on('click', function() {
    $('.search-modal').removeClass('modal-show');
  });
  
  $('.search-container').on('click', function(e) {
    e.stopPropagation();
  });
  
  $('.search-container-input').bind('input propertychange', function(e) {
    var searchValue = e.currentTarget.value;
    var correctArticles = allArticles.filter(article => article.content.indexOf(searchValue) > -1 || article.title.indexOf(searchValue) > -1)
    var articleListHtml = '';
    for (let index = 0; index < correctArticles.length; index++) {
      var article = correctArticles[index];
      article.description = article.content.replace(/<[^>]+>/g,"");
      var title = article.title, description = '';
      var searchReg = RegExp(searchValue, 'i');
      var searchRegGlobal = RegExp(searchValue, 'ig');
      if (article.title.match(searchReg)) {
        title = article.title.replaceAll(searchRegGlobal, `<span class="search-value-active">${searchValue}</span>`);
      }
      var contentMatch = article.description.match(searchReg);
      if (contentMatch) {
        description = `...${article.description.substr(contentMatch['index'], 210)}...`.replaceAll(searchRegGlobal, `<span class="search-value-active">${searchValue}</span>`);
        // description = `...<span class="search-value-active">${searchValue}</span>${article.description.substr(contentMatch[0].length + contentMatch['index'], 200)}...`;
      } else {
        description = article.description.substr(0, 200);
      }

      articleListHtml += `<div class="search-container-content_item">
        <a href="${article.url}" class="search-container-content_item-title">${title}</a>
        <div class="search-container-content_item-description">${description}</div>
      </div>`
    }

    $('.search-container-content').html(articleListHtml);
  });
  
</script>
<script>
  // Drop Bootstarp low-performance Navbar
  // Use customize navbar with high-quality material design animation
  // in high-perf jank-free CSS3 implementation
  var $body = document.body;
  var $toggle = document.querySelector(".navbar-toggle");
  var $navbar = document.querySelector("#huxblog_navbar");
  var $collapse = document.querySelector(".navbar-collapse");

  $toggle.addEventListener("click", handleMagic);
  function handleMagic(e) {
    if ($navbar.className.indexOf("in") > 0) {
      // CLOSE
      $navbar.className = " ";
      // wait until animation end.
      setTimeout(function () {
        // prevent frequently toggle
        if ($navbar.className.indexOf("in") < 0) {
          $collapse.style.height = "0px";
        }
      }, 400);
    } else {
      // OPEN
      $collapse.style.height = "auto";
      $navbar.className += " in";
    }
  }
</script>
