---
layout: layout
---

<!-- Post Content Start -->
<article>
    <div class="container" style="overflow: hidden">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container post-markdown-body
            ">
                <%- page.content %>
                
                <hr>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <!-- Categories Start -->
                        <section>
                            <h5><a href="<%= config.root %>tags/"><%= __('category') %> </a></h5>
                            <div class="tags">
                                <% page.categories.forEach(function(category){ %>
                                    <a class="tag" href="<%= config.root %>categories/<%= category.name %>" title="<%= category.name %>"><%= category.name %></a>
                                <% }) %>
                            </div>
                        </section>
                        <!-- Categories End -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- Tags Start -->
                        <section class="past-tags">
                            <h5><a href="<%= config.root %>tags/"><%= __('tag') %> </a></h5>
                            <div class="tags">
                                <% page.tags.forEach(function(tag){ %>
                                    <a class="tag" href="<%= config.root %>tags/<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                                <% }) %>
                            </div>
                        </section>
                        <!-- Tags End -->
                    </div>
                </div>

                <hr>
                <!-- Pager Start -->
                <ul class="pager">
                    <% if (page.prev){ %>
                        <li class="previous">
                            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; <%= __('prevPost') %> </a>
                        </li>
                    <% } %>
                    <% if (page.next){ %>
                        <li class="next">
                            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>"><%= __('nextPost') %>  &rarr;</a>
                        </li>
                    <% } %>
                </ul>
                <!-- Pager End -->
               
                <%- partial('_partial/comment') %>
                
                <br>
                <%- partial('_partial/comment') %>
            </div>
            
            <!-- Tabe of Content -->
            <%- partial('_partial/toc') %>
                
            <!-- Sidebar Container -->
            <!-- <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
            </div> -->
        </div>
    </div>
</article>

<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'hover',
          placement: 'left',
          icon: 'な'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.2em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
<% } %>
